<%= bootstrap_form_with(model: pstaff, local: true) do |form| %>
  <% if pstaff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pstaff.errors.count, "error") %> prohibited this pstaff from being saved:</h2>

      <ul>
      <% pstaff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="container_fluid">
      <div class="row" >
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <div class="shadow-lg p-3 mb-5 bg-black rounded">
            <div class="card ">
              <div class="card-header bg-info text-white text-center"><h2>Student</h2></div>
              <div class="card-body">
    <div class="field" >
    <h5><%= form.text_field :name,:required=>true,class:"label"%></h5>
  </div>


  <div class="dropdown">
    <h5><%= form.select :gender, Pstaff::GENDER,class:"label" %></h5>
  </div>

  <div class="field">
    <h5><%= form.text_field :unique_id , label: "Registration Id",:required=>true,class:"label"%></h5>
  </div>

  <div class="field">
    <h5><%= form.text_field :vichel_no, label: "Vehicle Number",:required=>true,class:"label" %></h5>
  </div>

   
  <div class="field">
  <h5><%= form.text_field :type_applicant, label: "Applicant Type",:required=>true,:readonly=>true,class:"label" %></h5>
  </div>
   
 <div class="field">
  <h5><%= form.select :vehical_type, Pstaff::VEHICAL ,:required=>true , class:"label" %></h5>
  </div>
   
   <div class="field">
  <h5><%= form.text_field :vichel_model,label: "Vehicle Model",:required=> true,class:"label"%></h5>
  </div>


  <div class="field">
   <h5><%= form.text_field :mobile_no,label:"Mobile No",:required=>true,class:"label" %></h5>
  </div>

  <div class="dropdown">
    <h5><%= form.select :department, Pstaff::TEMP ,:required=>true,class:"label" %></h5>
  </div>

  <div class="field">
   <h5><%= form.text_field :address,:required=>true,class:"label" %></h5>
  </div>

  <div class="field">
  <h5><%= form.file_field :registration_certificate ,:required=>true,class:"label"%></h5>
  </div>

  <div class="field">
   <h5><%= form.file_field :aadhaar_card ,:required=>true,class:"label" %></h5>
  </div>

  <div class="field">
   <p> if you are hostler then upload the medical certificate or if you are dyascholer then upload your room aggrement  </p>
  <<div class="field">
  <h5><%= form.file_field :document %></h5>
  </div>
  </div>

  <div class="field">
   <p> if registration certificate not on the name of the applicant then fill the name on the RC  and relationship between the applicant and RC holder </p>
  <h5><%= form.text_field :RC_holder_name %></h5>
  <h5><%= form.text_field :relationship %></h5>
  </div>


  <div class="actions">
    <%= form.submit "Submit", class:"btn btn-primary" %>
    
  </div>
 </div>
</div>
</div> 
</div>


<% end %>
