<header>

  <div class="container h-100 ">
    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <h1 class="display-4" id="nitkfont">National Institute of Technology, Karnataka</h1>
        <h2 id="nitkfont1"> Security Stickers</h2>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">

      <% if current_user %>
        <% if current_user.phase1 == true %>
          <li>
      <a ><b><%= link_to "Home",check_phase2_path, class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a>
          </li>

          <li class="nav-item">
            <a ><b><%= link_to "Contact us",home_contact_path,class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a></li>



    <% elsif current_user.phase2 == true %>
          <li>
            <a ><b><%= link_to "Home",check_phase2_path, class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a></li>
          <li class="nav-item">
            <a ><b><%= link_to "Contact us",home_contact_path,class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a></li>


        <% elsif current_user.phase3 == true %>
          <li><a ><b><%= link_to "Home",check_phase3_path, class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a></li>

          <li class="nav-item">
            <a ><b><%= link_to "Contact us",home_contact_path,class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a></li>

        <% else %>
          <% @user_profile = current_user.user_profiles %>
          <% if @user_profile.ids.count == 0 %>
            <li><a ><b><%= link_to "Home",home_index_path, class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a></li>
            <li class="nav-item">
              <a ><b><%= link_to "Contact us",home_contact_path,class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a></li>

          <% else  %>
            <li> <a ><b><%= link_to "Home",pstaffs_path, class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a></li>

            <li class="nav-item">
              <a ><b><%= link_to "Contact us",home_contact_path,class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a></li>


          <% end %>
        <% end %>





      <% else %>


        <li><a ><b><%= link_to "Home",root_path, class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a></li>
        <li>

        <li class="nav-item">
          <a ><b><%= link_to "Contact us",home_contact_path,class:"navbar-brand text-left",style:"font-size:22px;color: white;" %></b></a>
        </li>

      <%end %>

      </ul>
      </div>
      <% if current_user %>
        <div class="mx-auto order-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <li><a ><%= link_to "signout" , destroy_user_session_path ,method:  :delete,class:"btn btn-success ml-auto mr-1 btn-md",style: 'color:#FFFFFF;' %></a></li>
            <li> <a> <%= link_to 'change password' , edit_user_registration_path,class:"btn btn-success ml-auto mr-1 btn-md",style: 'color:#FFFFFF;'  %></a></li>
            </li>
          </ul>
        </div>

      <% else %>
        <div class="mx-auto order-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <li> <a ><%= link_to "Sign up",new_user_registration_path, class:"btn btn-success ml-auto mr-1 btn-md",style: 'color:#FFFFFF;' %></a></li>
            <li><a ><%= link_to "Sign in",new_user_session_path, class:"btn btn-success ml-auto mr-1 btn-md",style: 'color:#FFFFFF;' %></a></li>
            </li>
          </ul>
        </div>
      <%end%>
      </nav>


<style>
  header {
    position: relative;
    background-color: black;
    height: 18vh;
    /*min-height: 20rem;*/
    width: 100%;
    overflow: hidden;
  }


  header .container {
    position: relative;
    z-index: 2;
  }

  @media only screen and (max-width: 1200px) {
    #nitkfont {
      font-size: 3em;
    }
    #nitkfont1 {
      font-size: 3em;
    }
  }
  @media only screen and (max-width: 700px) {
    #nitkfont {
      font-size: 1.8em;
    }
    #nitkfont1 {
      font-size: 1.8em;
    }
  }
  /*@media only screen and (max-width: 600px) {
    #nitkfont {
     font-size: 4em;
    }
  }
  @media only screen and (max-width: 300px) {
    #nitkfont {
     font-size: 6em;
    }
  }*/


</style>
